<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<% if(locals.user){ %>
    <div id="home-container">
        <div id="others">
            <div class="profile">
                <a href="/users/profile/<%=user.id %>">
                    <%if(user.avatar){%>
                        <img src="<%=user.avatar %>" alt="<%=user.name %>">
                    <%}else{%>
                        <img src="/images/default_pic.png">
                    <%}%>
                    <span class="name"><%=user.name %></span>
                </a>
            </div>
            <div class="third">
                <i class="fas fa-user-friends"></i><a href="/users/list">Friends</a>
            </div>
            <div class="third">
                <i class="fas fa-globe-asia"></i><a href="#">Groups</a>
            </div>
            <div class="third">
                <i class="fas fa-archway"></i><a href="#">Market Place</a>
            </div>
            <div class="third">
                <i class="fas fa-play-circle"></i><a href="#">Watch</a>
            </div>
            <div class="third">
                <i class="fas fa-clock"></i><a href="#">Memories</a>
            </div>
            <div class="third">
                <i class="fas fa-save"></i><a href="#">Saved</a>
            </div>
            <div class="third">
                <i class="fas fa-flag"></i><a href="#">Pages</a>
            </div>
            <div class="third">
                <i class="fas fa-calendar-check"></i><a href="#">Events</a>
            </div>
            <div class="third">
                <i class="fas fa-history"></i><a href="#">Most Recent</a>
            </div>
        </div>
        <div id="feed-posts">
            <div id="feed-box">
                <form action="/posts/create" id="new-post-form"  method="POST">
                    
                    <div id="status">
                        <% if(user.avatar) {%>
                        <img src="<%=user.avatar%>">
                        <%}%>
                        <input type="text" name = "content" placeholder="what's on your mind,<%=user.name %>..." required>
                    </div>
                    <hr>
                    <div id="btn">
                        <input type="submit" value="Post">
                    </div>
                </form>
            </div>
                
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){ %>
                                
                        <%- include('_post') -%>
                                
                    <%} %>
                </ul>
            </div>
        </div>
                
                
        <div class="user-friends">
            <h4>Contacts</h4>
            <div class="friends">
                <% for(u of addedfriends){%>
                    <!-- for displaying user's friend list -->
                    <div class="content">
                        <%if(u.avatar) {%>
                            <img src="<%=u.avatar %>">
                        <%}else{%>
                            <img src="/images/default_pic.png">
                        <%}%>
                        <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                    </div>
                <% } %>
            </div>
            <!-- <h4>Users</h4>
            <% for(u of all_users) {%>
                 for displaying user profile link 
                <p>           
                            
                    <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                </p>
            <% } %> -->
        </div>
        <!---CHANGE :: Creat the code for chat box -->
<% if (locals.user){ %>
    <div class="msg-btn">
        <a href="#user-chat-box"><span>Messanger</span></a>
    </div>
		<div id="user-chat-box">
            <a href="#">X</a>
			<ul id="chat-messages-list">
				<li class="other-message">
					<span>Other Message</span>
				</li>
				<li class="self-message">
					<span>
						Self Message
					</span>
					
				</li>
			</ul>
			<div id="chat-message-input-container">
				<input id="chat-message-input" placeholder="Type message here">
				<button id="send-message">Send</button>
			</div>
		</div>
	</div>
<% } %>
    </div>
    <% } else { %>
        <link rel="stylesheet" href="<%= assetPath('css/signin.css') %>">
        <div class="login">
            <div class="first-half">
                <div class="signin-box">
                    <h1>Login to Your Account</h1>
                    <div class="social">
                        <a href="/users/auth/google">Sign In with google</a>
                    </div>
                    <div class="or">
                        <p>OR</p>
                    </div>
                    <div class="fill">
                        <form action="/users/create-session" method="POST">
                            <div class="input">
                                <input  type="email" name="email" placeholder="Email"  required>
                            </div>
                            <div class="input">
                                <input  type="password" name="password" placeholder="Password"  required>
                            </div>
                            <div class="btn">
                                <input  type="submit" value="Sign In">
                            </div>
                        </form>
                    </div>
                    <div class="link">
                        <a href="<%= assetPath('css/signup.css') %>">Create New Account</a>
                    </div>
                </div>
            </div>
        </div>
    <%}%>
<!-- importing this script for creating the comments -->
<script src="<%= assetPath('js/home_post_comments.js') %>" ></script>
<script src="<%= assetPath('js/home_posts.js') %>"></script>
<!-- import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="<%= assetPath('js/toggle_likes.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!---<script>console.log("/js/chat_engine.js")</script> --->   
<script src="<%= assetPath('js/chat_engine.js') %>"></script>
<% if (locals.user) { %>
<script>
  new ChatEngine('user-chat-box','<%=locals.user.email%>')
</script>
<% } %>